<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UploadNotice"></activity>
        <activity android:name=".ViewPDF" />
        <activity android:name=".PdfUpload" />
        <activity android:name=".Goog_Signin" />
        <activity android:name=".Profile_Clubhead" />
        <activity android:name=".Profile_faculty" />
        <activity android:name=".ImageUpload" />
        <activity android:name=".Profile" />
        <activity android:name=".Signup_Faculty" />
        <activity android:name=".Login_Faculty" />
        <activity android:name=".Signup_Clubhead" />
        <activity android:name=".Login_Clubhead" />
        <activity android:name=".Login_form" />
        <activity android:name=".Signup_Form" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>